.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.7fr 10.3fr 1fr;
  gap: 0px 12px;
  grid-auto-flow: row;
  overflow: hidden;
  height: 100vh;
}

.sidebar { grid-area: 2 / 1 / 3 / 2; }
.header { grid-area: 1 / 1 / 2 / 7; }
.footer { grid-area: 3 / 1 / 4 / 7; }
.main { grid-area: 2 / 2 / 3 / 7; }
.headerLeft { grid-area: 1 / 1 / 2 / 3; }
.headerCenter { grid-area: 1 / 3 / 2 / 5; }
.headerRight { grid-area: 1 / 5 / 2 / 7; }
