body {
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 52px;
}

.header * {
    display: flex;
}

.logo {
    fill: var(--primary-color);
    height: 30px;
    margin-top: 6px;
    margin-left: 12px;
}



.homeButton {
    border-radius: 50%;
    margin-right: 12px;
    padding: 12px;
    background-color: var(--tertiary-color);
    height: fit-content;
}

.homeButtonIcon {
    fill: var(--primary-color);
    height: 24px;
    ;
}

.searchBar {
    display: flex;
    align-items: center;
    border-radius: 38px;
    height: 48px;
    background-color: var(--tertiary-color);
}

.searchIcon {
    height: 24px;
    fill: var(--text-secondary-color);
    margin-left: 12px;
    margin-right: 12px;
}

.searchInput {
    all: unset;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    width: 362px;
    font-size: 1rem;
    font-weight: 400;
}

.libaryIcon {
    height: 24px;
    fill: var(--text-secondary-color);
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 6px;
    border-left: 1px solid var(--text-secondary-color);
}

.headerSignupButton {
    all: unset;
    color: var(--text-secondary-color);
    margin-right: 24px;
    height: 24px;
    padding: 10px;
    font-weight: 700;
    font-size: 1rem;
}

.loginButton {
    all: unset;
    color: var(--section-color);
    background-color: var(--primary-color);
    border-radius: 24px;
    padding: 12px 32px;
    height: 24px;
    font-weight: 700;
    font-size: 1rem;
}