.main {
  background: #1f1f1f;
  background: linear-gradient(180deg, #1f1f1f 0%, rgba(18, 18, 18, 1) 69%);
  background-color: linear-gradient(
    180deg,
    rgba(#fff, 1) 0%,
    rgba(18, 18, 18, 1) 69%
  );
  border-radius: 6px;
  padding: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: hsla(0, 0%, 100%, 0.3) transparent;
  scrollbar-width: auto;
}
.mainContent{
  margin-left: 46px;
  height: 1000px
}
.mainTitel {
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 12px;
  width: 100%;
}

.mainTitelText {
  all: unset;
}
.showMore {
  all: unset;
  position: relative;
  margin-left: auto;
  margin-right: 12px;
  color: var(--text-secondary-color);
}
.albums {
  display: flex;
  overflow: hidden;
  float: left;
}
.albumArticle {
  height: fit-content;
  position:relative;
  padding: 12px;
  border-radius: 10px;
}
.playButton{
  border-radius: 50%;
  margin-right: 12px;
  padding: 12px;
  background-color: var(--tertiary-color);
  height: 24px;
  background-color: #1ed760;
  position: absolute;
  right: 6px;
  top:152px;
  visibility: hidden;
  opacity: 0;
}
.playButton:hover{
  background-color: #3ae175;
}
.albumArticle:hover .playButton {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 250ms;
  
  }
  @keyframes fade{
    0% { opacity: 0;}
    100% { opacity: 1;
    }
  }
.albumArticle * {
  font-weight: 500;
}
.albumCover {
  border-radius: 12px;
  max-height: 200px;
}
.artistFoto{
  margin-bottom: 20px;
}
.artistFotoBorder {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.albumTitel {
  font-weight: 400;
  font-size: 1rem;
  margin: 6px 0px;
}
.artiesten {
  color: var(--text-secondary-color);
  margin: 0px;
  font-size: 0.8125rem;
  font-weight: 400;
  width: 200px;
  flex-wrap: wrap;
  display: flex;
}
main-wrapper section:last-child{
    margin-bottom: 24px;
    border:white, solid, 2px
}
.mainFooter {
  color: var(--text-secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 24px;
  margin-top: 72px;
}
.mainFooter * {
  width: fit-content;
  margin: 2px 6px;
  font-size: 1rem;
  font-weight: 400;
}
.mainFooterTitel {
  color: var(--primary-color);
  font-weight: 700;
}
.socials {
  display: flex;
  justify-content: space-between;
}
.socialIconBorder {
  border-radius: 50%;
  padding: 12px;
  background-color: var(--tertiary-color);
  height: 16px;
  margin: 6px;
}
.socialIcon {
  fill: var(--primary-color);
  width: 16px;
  margin: unset;
}
.socialIconBorder:hover{
  background-color: var(--tertiary-color-hover);
}
.copyright {
  margin-top: 36px;
  margin-left: 12px;
  color: var(--text-secondary-color);
}
