.main{
    background-color: var(--section-color);
    border-radius: 6px;
    padding: 12px;
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-color: hsla(0, 0%, 100%, .3) transparent;
    scrollbar-width: auto;
}
.mainTitel{
    display: flex;
    font-size: 1rem;
    font-weight: 700;

}
.mainTitelText{
    all: unset;
}
.showMore{
    all:unset;
    position: relative;
    right: 10px;
    margin-left: auto;
    margin-right: 12px;
}
.albums{
    display: flex ;
    overflow: hidden;
    float: left;
}
.albumArticle{
    margin: 12px;
    
}
.albumArticle *{
    font-weight: 500;
}
.albumCover{
    border-radius: 12px;
    max-height: 200px;
}
.albumTitel{
    font-weight: 400;
    font-size: 1rem;
    margin: 6px 0px;
}
.artiesten{
    color: var(--text-secondary-color);
    margin: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
}
.mainFooterTitel{
    color: var(--primary-color);
}
.mainFooter{
    color: var(--text-secondary-color);
    display: flex;
    justify-content: space-between;
    width: fit-content;
    border-bottom: 1px solid var(--tertiary-color) ;
}
.mainFooter *{
    margin: 6px;
}
.socials{
    display:flex;
}
.socialIconBorder{
    border-radius: 50%;
    
    padding: 12px;
    background-color: var(--tertiary-color);
    height: fit-content;
}
.socialIcon{
    fill:var(--primary-color);
    width: 16px;
    
}