.main{
    background-color: var(--section-color);
    border-radius: 24px;
    padding: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: hsla(0, 0%, 100%, .3) transparent;
    scrollbar-width: auto;
}
.mainTitel{
    display: flex;
}
.mainTitelText{
    all: unset;
}
.showMore{
    all:unset;
    position: relative;
    right: 10px;
    margin-left: auto;
    margin-right: 12px;
}
.albums{
    display: flex ;
    overflow: hidden;
    float: left;
}
.albumArticle{
    margin: 12px;
    
}
.albumArticle *{
    font-weight: 500;
}
.albumCover{
    border-radius: 12px;
    max-height: 200px;
}
.albumTitel{
    font-weight: 400;
    font-size: 1rem;
    margin: 6px 0px;
}
.artiesten{
    color: var(--text-secondary-color);
    margin: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
}
.mainFooter{
    display: flex;
    
}
.mainFooter *{
    margin: 6px;
}
.socialIcon{
    fill:var(--primary-color)
}