@import "./css/grid.css";
@import "./css/color.css";
@import "./css/header.css";
@import "./css/sidebar.css";
@import "./css/main.css";
@import "./css/footer.css";
@import "./fonts/font/stylesheet.css";
body{
    font-family: spotify mix;
}

.stdHover:hover{
    scale: 1.03;
    transition: all, 0.1s;
    cursor: pointer;
}
.hoverWhite:hover{
    color: white;
    fill: white; 
    cursor: pointer;
}
.hoverBg:hover{
    background-color: var(--tertiary-color-hover);
    cursor: pointer;
}
.hoverUnderLine:hover{
    text-decoration-line:underline ;
    cursor: pointer;
}
